<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- <bean id="Da" class="dao.DaoImp"/> old version -->
    <bean id="Da" class="ext.DaoImpV2"/>

    <bean id="mt" class="mitier.MitierrImp">
        <!-- <property name="dao" ref="Da"/> ingection using set Dao -->
        <constructor-arg ref="Da"></constructor-arg>
     </bean>

 </beans>